
<div class="container">
    <div class="cardscont">
        <mat-card *ngFor="let user of users" class="mat-card-listusr" fxFlex="20%">
          <h3 class="home_header">Colaborador</h3>
          <mat-card-content>
                <h3 style="margin-bottom: 0;"><strong>Nome:</strong> {{user.nome}}</h3>
            <span *ngIf="user.email">
                <h3 style="margin-bottom: .5rem;"><strong>Email:</strong> {{user.email}}</h3>
            </span>
          </mat-card-content>
          <div class="homebtncont">
            <button type="button" class="btn btn-warning mr-2" style="width: 110px;">Editar</button>
            <button type="button" class="btn btn-danger" style="width: 110px;">Remover</button>
          </div>
          <button mat-stroked-button class="usrcardbtn">VER TASKS</button>
        </mat-card>
    </div>
</div>
