
<div class="container">
    <div class="cardscont">
        <mat-card *ngFor="let user of users" class="mat-card-listusr" fxFlex="20%">
          <mat-card-header>
            <mat-card-title>
                Nome: {{user.nome}}
            </mat-card-title>
            <mat-card-subtitle *ngIf="user.email">
                Email: {{user.email}}
            </mat-card-subtitle>
          </mat-card-header>
          <button mat-stroked-button class="usrcardbtn">VER TASKS</button>
        </mat-card>
    </div>
</div>
