.menu-background{
  color: white;
  display: flex;
  align-items: center;
  button{
    background-color: rgba(255, 255, 255, 0.05);
    margin: 3px;
  }
  
  h1{
    width: 100%;
    text-align: center;
    margin: 0;
  }

  .menu-cont .mat-menu-trigger {
    width: 7rem;
    margin: auto;
  }

  .menu-cont .mat-menu-trigger:hover {
    background-color: rgba(255, 255, 255, 0.15);
  }
}

.menu-cont {
  margin: auto 0 auto auto;
}

.menu-header {
  margin: .5rem;
  width: 10rem;
  cursor: pointer;
}