.form-signup-card {
    margin: 10rem auto;
    padding: 3rem;
}

.createtaskcont {
    display: flex;

    .createtaskheader{
        margin: 1rem 1rem 1.5rem 0;
    }
}

.mat-card-createtask {
    margin: 200px auto;
    width: 400px;
}
.mat-card {
    display: flex;
    flex-direction: column;

    .mat-card-header .mat-card-title {
        font-size: 14px;
    }
}