<div class="createtaskcont">
  <mat-card class="mat-card-createtask" fxFlex="20%">
    <mat-card-header>
      <h2 class="createtaskheader">Cadastrar Task</h2>
    </mat-card-header>

    <mat-form-field appearance="fill">
      <mat-label>Select</mat-label>
      <mat-select [(ngModel)]="task.user_id">
        <mat-option *ngFor="let user of users" value="{{user.id}}">{{user.nome}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Nome</mat-label>
      <input [(ngModel)]="task.nome" matInput type="text">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Descrição da Task</mat-label>
      <textarea [(ngModel)]="task.tarefa" matInput></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill" class="mb-3">
      <mat-label>Vencimento da Task</mat-label>
      <input [(ngModel)]="task.vencimento" matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <button type="button" class="btn btn-primary insertbtn" (click)="insertTask()" style="width: 110px;">Cadastrar</button>
  </mat-card>  
</div>
