<div class="logincont">
    <mat-card class="mat-card-login" fxFlex="20%">
      <mat-card-header>
        <h2 class="loginheader">Autenticar Usuário</h2>
      </mat-card-header>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Login</mat-label>
        <input matInput type="text">
      </mat-form-field>

      <mat-form-field class="example-full-width mb-3" appearance="fill">
        <mat-label>Senha</mat-label>
        <input matInput type="password" placeholder="********">
      </mat-form-field>

      <button type="button" class="btn btn-primary insertbtn" style="width: 110px;">Login</button>
    </mat-card>  
</div>