<div class="signupcont">
    <mat-card class="mat-card-signup" fxFlex="20%">
      <mat-card-header>
        <h2 class="signupheader">Cadastrar Usuário</h2>
      </mat-card-header>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nome</mat-label>
        <input [(ngModel)]="user.nome" matInput type="text">
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Login</mat-label>
        <input [(ngModel)]="user.login" matInput type="text" placeholder="Ex. pat@example.com">
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input [(ngModel)]="user.email" matInput type="email" placeholder="Ex. pat@example.com">
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Senha</mat-label>
        <input [(ngModel)]="user.senha" matInput type="password" placeholder="********">
      </mat-form-field>

      <mat-form-field class="example-full-width mb-3" appearance="fill">
        <mat-label>Repita Senha</mat-label>
        <input [(ngModel)]="senha_rep" matInput type="password" placeholder="********">
      </mat-form-field>

      <button type="button" class="btn btn-primary insertbtn" (click)="insertUser()" style="width: 110px;">Cadastrar</button>
    </mat-card>  
</div>
